<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Create New Room</title>
	<link rel="stylesheet" type="text/css" href="/css/room-entry.css">
</head>

<body>
	<div class="enter-passcode-form">
		<h1>Create New Room</h1>
		<form method="POST">
			<label for="room_name">Room name </label>
			<input type="text" name="room_name" id="room_name" placeholder="ROOM NAME" value="<%= room_name %>" required />
			<label for="passcode">Passcode</label>
			<input type="text" name="passcode" id="passcode" placeholder="PASSCODE" value="<%= passcode %>" required />
			<input type="submit" value="CREATE" />
		</form>
	</div>
	<% if (error) { %>
		<!-- Alert the error message if the fields are not valid. -->
		<script>alert("<%= error.msg %>")</script>
	<% } %>

</body>

</html>