<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Create New Room</title>
	<link rel="stylesheet" type="text/css" href="/css/room-entry.css">
</head>

<body>
	<div class="enter-passcode-form">
		<div style="margin: 25%">
			<div id="video-grid"></div>
		</div>
		<script src="/js/gazer.js" type="text/javascript" ></script>
		<script>
			function check(){
				window.saveDataAcrossSessions = true;

				const LOOK_DELAY = 3000; // 3 second

				let startLookTime = Number.POSITIVE_INFINITY;
				let lookDirection = null;

				webgazer
				.setGazeListener((data, timestamp) => {
					const videogrid = document.getElementById("video-grid");
					const left = videogrid.offsetLeft;
					const right =
					videogrid.offsetLeft + videogrid.offsetWidth;
					const top = videogrid.offsetTop;
					const bottom =
					videogrid.offsetTop + videogrid.offsetHeight;

					if (data == null || lookDirection === "STOP") {
						console.log('nonono')
						return;
					}
					else{
						console.log(data)
					}

					if (
						data.x >= left &&
						data.x <= right &&
						data.y >= top &&
						data.y <= bottom
					) {
						videogrid.style.backgroundColor = "blue";
						startLookTime = Number.POSITIVE_INFINITY; // restart timer
						lookDirection = null;
					}
					else if (
						lookDirection !== "RESET" && lookDirection === null){
						videogrid.style.backgroundColor = "yellow";
						startLookTime = timestamp;
						lookDirection = "OUT"
					}

					if (startLookTime + LOOK_DELAY < timestamp) {
						console.log("ohoh")
						console.log(left, right, top, bottom)
						videogrid.style.backgroundColor = "red";

						startLookTime = Number.POSITIVE_INFINITY;
						lookDirection = "STOP";
						setTimeout(() => {
							lookDirection = "RESET";
						}, 200);
					}
				})
				.begin();
			}
		</script>
		<h1>Create New Room</h1>
		<form method="POST">
			<label for="room_name">Room name </label>
			<input type="text" name="room_name" id="room_name" placeholder="ROOM NAME" value="<%= room_name %>" required />
			<label for="passcode">Passcode</label>
			<input type="text" name="passcode" id="passcode" placeholder="PASSCODE" value="<%= passcode %>" required />
			<input type="submit" value="CREATE" />
			<button onclick='check()'>check</button>
			<p>You can join the room as a <b>supervisor</b> using this passcode.</p>
		</form>
	</div>
	<% if (error) { %>
		<!-- Alert the error message if the fields are not valid. -->
		<script>alert("<%= error.msg %>")</script>
	<% } %>

</body>

</html>