<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const ROOM_ID = "<%= room_id %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
      defer
    ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/presenter.js" defer></script>
    <title>Presenter@<%= room_name %></title>
    <link rel="stylesheet" type="text/css" href="/css/presenter-room.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="left">
        <div id="video-grid"></div>
        <div id="screen-wrapper">
          <video id="screen-video"></video>
        </div>
        <div id="menu-box">
          <div id="audio-grid"></div>
          <!-- <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Left</button>
            <button type="button" class="btn btn-secondary">Middle</button>
            <button type="button" class="btn btn-secondary">Right</button>
          </div> -->
        </div>
      </div>
      <div id="right">
        <div id="chart-wrapper">
          <canvas id="myChart"/>
        </div>
        <button
          id="invite" type="button" class="btn btn-outline-success btn-sm"
          onclick="alert(`${window.location.origin}/room/${ROOM_ID}`)"
        >
          Invite
        </button>
        <button id="screen-share" type="button" class="btn btn-outline-success btn-sm" onclick="startScreenSharing()">Share Screen</button>
        <ul id="messages"></ul>
        <div id="chatting">
          <form id="form" action="">
            <input id="input" autocomplete="off" />
            <button type="submit" class="btn btn-success">Send</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
