<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/participant-room.css">
    <script>
      const ROOM_ID = "<%= room_id %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/gazer.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="/js/calibration.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Participant@<%= room_name %></title>
  </head>
  <body>
    <div id="main">
      <video id="screen-video"></video>
      <video id="my-cam"></video>
      <video id="prof-cam"></video>
      <button id="see-parti" onclick="partilist()">Participants</button>
      <div id="partlist" style="display:none;"></div>
      <div id="questions"></div>
      <button id="mute">MUTE</button>
      <div id="right">
        <ul id="messages"></ul>
        <div id="chatting">
          <form id="form" action="">
            <input id="input" autocomplete="off" placeholder="Post a question"/>
            <button class="btn btn-success">Ask</button>
          </form>
        </div>
      </div>
    </div>
    <div id="calib">
      <button id="skip" onclick="skip()">Skip</button>>
      <div class="calibrationDiv">
        <input type="button" class="Calibration" id="Pt1"></input>
        <input type="button" class="Calibration" id="Pt2"></input>
        <input type="button" class="Calibration" id="Pt3"></input>
        <input type="button" class="Calibration" id="Pt4"></input>
        <input type="button" class="Calibration" id="Pt5"></input>
        <input type="button" class="Calibration" id="Pt6"></input>
        <input type="button" class="Calibration" id="Pt7"></input>
        <input type="button" class="Calibration" id="Pt8"></input>
        <input type="button" class="Calibration" id="Pt9"></input>
      </div>
    </div>
  </body>
</html>
