#chart-wrapper {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    margin: 1rem;
    z-index: 1;
}

#screen-wrapper {
    height: auto;
}

#screen-video {
/* position: absolute; */
z-index: 0;
object-fit: contain;
width: 100%;
}

#video-grid {
    position: absolute;
    left: 1%;
    top: 2%;
    display: grid;
    height: 96%;
    width: 60%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-auto-flow: row;
    overflow-x: hidden;
    overflow-y: scroll;
}

.video-container {
  position: relative;
}

.name-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

video {
width: 100%;
height: 100%;
object-fit: cover;
}

/* #menu-box {
z-index: 1;
background-color: aquamarine;
} */

/* chat style */
body {
margin: 0;
padding-bottom: 3rem;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

#left {
    margin: auto 350px auto 5%;
    padding-top: 1rem;
    width: 75%;
    /* margin-left: 100px; */
    float: left;
    /* right: 300px; */
    display: inline;
    height: auto;
    /* padding-bottom: 1rem; */
}

#right {
    /* width: 20%; */
    width: 38%;
    right: 0;
    height: 100%;
    float: right;
    padding-bottom: 3%;
    /* padding-right: 1rem; */
    display: inline;
    position: absolute;
    bottom: 0%;
}

#chatting {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 200px;
    padding-bottom: 4rem;
    width: 100%;
    display: inline-block;
    height: 100%;
    margin-bottom: 1rem;
    padding-right: 1rem;
} 

#form {
    background: rgba(40, 167, 70, 0.5);
    padding: 0.25rem;
    display: flex;
    height: 3rem;
    /* width: 100%; */
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    bottom: 1rem;
    border-radius: 0.5rem;
    /* position: absolute; */
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    /* background: #333; */
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    /* margin-right: 1.25rem; */
    border-radius: 3px;
    outline: none;
    color: #fff;
    padding-right: 0.1rem;
    padding-left: 0.1em;
}

#messages {
    list-style-type: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    /* position: absolute;
    bottom: 5%;
    right: 5%;
    width: 100%;
    height: 70%;
    overflow-y: scroll; */
    /* margin-top: 1em; */
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
    height: inherit;
}

.message-box {
    padding-right: 1%;
}

span.nametag {
    font-size: smaller;
}

span.timetag {
    font-size: smaller;
    padding-left: 1rem;
    color:darkgrey;
}

.message {
    padding: 0.5rem 1rem;
    margin: 0.1rem;
    border-radius: 10px;
    border-bottom: 0.001rem solid rgba(40, 167, 70, 0.5);

    background: rgba(40, 167, 70, 0.219);
}

#display-choice {
    float:left;
    width: 50%;
}

#invite {
    float: right;
    margin-right: 5%;
}

#screen-share {
    position: absolute;
    right: 0;
    margin: 1rem;
    margin-top: 4rem;
    z-index: 1;
}

@media screen and (min-width: 1950px) {
    #left {
        width: 80%
    }
}

@media screen and (max-width: 1500px) and (min-width: 650px) {
    #chart-wrapper {
        width: 100px;
        height: 100px;
    }

    #left {
        margin: auto 250px auto 5%;
        width: 70%;
    }

    #right {
        width: 250px;
    }

    #chatting {
        position: absolute;
        /* right: 0; */
        bottom: 0;
        width: 90%;
        display: inline-block;
        height: 100%;
        margin-bottom: 1rem;
        padding-top: 150px;
        padding-bottom: 4rem;
    }

    #form {
        height: 6rem;
        display: inline-grid;
    }

    #input {
        height: 3rem;
    }
}

@media screen and (max-width: 950px) {
    #chart-wrapper {
        width: 100px;
        height: 100px;
        z-index: 1;
        margin-left: 60px;
    }

    #left {
        margin: 120px 5% auto 5%;
        width: auto;
    }

    #right {
        width: 90%;
        margin: auto 5% auto 5%;
    }
    #invite {
        /* float: left; */
        position: absolute;
        z-index: 1;
        /* right: 0; */
        /* margin: 1rem; */
    }

    #form {
        width: 100%;
    }

    #chatting {
        position: absolute;
        /* right: 0; */
        bottom: 0;
        width: 90%;
        display: inline-block;
        height: 40%;
        margin-bottom: 1rem;
        padding-top: 0;
    }

    #messages {
        height: 100%;
    }
}
